:root {
  --base-100: #f2f4f7;
  --base-200: #e4e7ec;
  --base-300: #ced2da;
  --base-400: #97a1af;
  --base-500: #637083;
  --base-600: #414e62;
  --base-700: #344051;
  --base-800: #1a232d;
  --base-900: #141c25;

  --radius-none: 0;
  --radius-xxxs: 2px;
  --radius-xxs: 4px;
  --radius-xs: 6px;
  --radius-s: 8px;
  --radius-m: 10px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-xxl: 20px;
  --radius-xxxl: 32px;
  --radius-xxxxl: 48px;
  --radius-max: 999px;

  --shadow-xs: 0px 1px 2px 0px rgba(20, 28, 37, 0.05);
  --shadow-s: 0px 1px 3px 0px rgba(20, 28, 37, 0.05);
  --shadow-m: 0px 4px 6px -1px rgba(20, 28, 37, 0.05);
  --shadow-l: 0px 10px 15px -3px rgba(20, 28, 37, 0.05);
  --shadow-xl: 0px 20px 25px -5px rgba(20, 28, 37, 0.05);
  --shadow-xxl: 0px 25px 50px -12px rgba(20, 28, 37, 0.05);
  --shadow-button: 0px 1px 2px 0px rgba(20, 28, 37, 0.05);
  --shadow-tab: 0px 1px 3px 0px rgba(20, 28, 37, 0.05);

  --padding-none: 0;
  --padding-2: 2px;
  --padding-4: 4px;
  --padding-6: 6px;
  --padding-8: 8px;
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-16: 16px;
  --padding-20: 20px;
  --padding-24: 24px;
  --padding-28: 28px;
  --padding-32: 32px;
  --padding-40: 40px;
  --padding-48: 48px;
  --padding-64: 64px;
  --padding-80: 80px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--base-600);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col-lg-6 {
  flex: 0 0 50%;
}
a {
  text-decoration: none;
}
.text-start {
  text-align: end;
}
.text-center {
  text-align: end;
}
.text-end {
  text-align: end;
}
